Node-Red Flow/NODE-RED_flows.json
[{"id":"62cfb801.487098","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0cad3a2.cdd0b","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"39c14e24.ba6192","type":"ui_group","z":"","name":"Chatbot","tab":"e0cad3a2.cdd0b","order":1,"disp":true,"width":24,"collapse":false},{"id":"9e0636e0.b1c1e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"654e9d35.213994","type":"ui_form","z":"62cfb801.487098","name":"","label":"","group":"39c14e24.ba6192","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":260,"wires":[["67cdb065.28948"]]},{"id":"67cdb065.28948","type":"function","z":"62cfb801.487098","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["500ab731.bc45e8","db9354e4.2c26a8"]]},{"id":"eac26eb0.90cd6","type":"function","z":"62cfb801.487098","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["688d2ad4.5b68d4"]]},{"id":"500ab731.bc45e8","type":"watson-conversation-v1","z":"62cfb801.487098","name":"Customer Car","workspaceid":"b80f2033-3219-4509-b679-f7d31ad19651","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fb336b49-5259-49f5-8348-9bbd3461d2f8","timeout":"","optout-learning":false,"x":520,"y":120,"wires":[["92917e17.aeca3","eac26eb0.90cd6"]]},{"id":"db9354e4.2c26a8","type":"ui_text","z":"62cfb801.487098","group":"39c14e24.ba6192","order":2,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":320,"y":340,"wires":[]},{"id":"92917e17.aeca3","type":"debug","z":"62cfb801.487098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":60,"wires":[]},{"id":"688d2ad4.5b68d4","type":"ui_text","z":"62cfb801.487098","group":"39c14e24.ba6192","order":3,"width":0,"height":0,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":340,"wires":[]}]